<p-table [value]="transactions" showGridlines [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]"
    [loading]="isLoading" sortField="transactionDate" [sortOrder]="-1" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #caption>
        <div class="table-header">
            <h2>Transações</h2>
            <div style="display: flex; gap: 0.5rem">
                <p-button (onClick)="showModal()" label="Nova Transação" icon="pi pi-plus" rounded raised />
                <p-button (onClick)="refreshTransactions()" icon="pi pi-refresh" rounded raised />
            </div>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>Id da Transação</th>
            <th>Documento</th>
            <th>Valor</th>
            <th pSortableColumn="transactionDate">Data da Transação <p-sortIcon field="transactionDate" /></th>
        </tr>
    </ng-template>
    <ng-template #body let-transaction>
        <tr>
            <td>{{ transaction.transactionId }}</td>
            <td>{{ transaction.accountDocumentNumber }}</td>
            <td>{{ transaction.transactionValue | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR" }}</td>
            <td>{{ transaction.transactionDate | date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="4">Não existem transações cadastradas.</td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="modalVisible">
    <app-create-transaction-modal [showModal]="modalVisible" (hideModal)="hideModal()"></app-create-transaction-modal>
</div>